# ==== Archivos de compilación ====
*.o          # Objetos NASM
*.out        # Otros objetos/ejecutables intermedios
*.core       # Core dumps

# ==== Ejecutables ====
program
hola
color
inventario_sort
inventario_depura
inventario_visual
inventario_visual_config
main_test
main          # ejecutable principal

# ==== Archivos de prueba / viejos ====
color.asm
inventario_depura.asm
inventario_sort.asm
main_test.asm

# ==== Archivos temporales de editores ====
*~
*.swp
*.tmp
.DS_Store
.vscode/

