# ==== Ignorar TODO en src salvo los importantes ====
src/*
!src/inventario_visual.asm
!src/inventario.txt
!src/config.ini

# ==== Archivos temporales de compilación y editores ====
*.o
*.out
*.core
*~
*.swp
*.tmp
.DS_Store
.vscode/

